# Resource files
gameplay.json
plots.json
config.json

# folders
players
.dev

# IDE res files
.idea
factions-pe.sublime-project
factions-pe.sublime-workspace

# ApiGen
apigen.neon

# PhpStan
phpstan.neon
